body {
  width: 80%;
  margin: auto;
  color: #222;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: #246;
}
a:hover {
  text-decoration: underline;
  color: #248;
}
blockquote {
  font-weight: bold;
  border: 3px solid #246;
  background-color: #bdf;
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}
h1 {
  text-align: center;
  font-family: serif;
  color: #246;
  padding-bottom: 0.5em;
  border-bottom: 3px solid #222;
}
