body {
  font-family: sans-serif;
  color: #444444;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  line-height: 1.5em;
  padding-bottom: 2em; }

em {
  font-style: normal; }

h1, h2, h3 {
  margin-top: 2.8em;
  margin-bottom: 1em;
  font-family: "Monsterrat", sans-serif; }

h2 {
  page-break-before: always; }

p:hover {
  color: #111111; }

.container {
  width: 800px;
  margin: auto; }

h1 {
  text-align: center;
  color: #777777;
  -webkit-transition: text-shadow 0.2s linear;
  -moz-transition: text-shadow 0.2s linear;
  -ms-transition: text-shadow 0.2s linear;
  -o-transition: text-shadow 0.2s linear;
  transition: text-shadow 0.2s linear; }
  h1:hover {
    text-shadow: 0 0 0.2em rgba(68, 68, 68, 0.3); }
  h1 ~ p:first-of-type {
    margin-top: 0;
    font-weight: bold; }
    h1 ~ p:first-of-type em {
      float: right; }

blockquote {
  color: #777777;
  width: 50%;
  float: left;
  margin-top: 0;
  vertical-align: top;
  margin-left: 0; }
  blockquote p {
    margin-top: 0; }

ul {
  list-style: none; }
  ul strong {
    font-weight: normal; }
  ul em {
    font-style: normal; }
  ul li:hover {
    color: #5e5e5e; }
  ul strong {
    display: inline-block;
    width: 150px;
    text-align: right;
    float: left;
    margin-right: 20px; }

a {
  text-decoration: none;
  color: #4444a8; }
  a:hover, a:active {
    color: #a8a844; }
  a:visited {
    color: #4444a8; }

ol {
  list-style: none;
  padding: 0; }
  ol:first-of-type {
    padding: 0;
    list-style: disc;
    list-style-position: inside; }
  ol li {
    margin-bottom: 0.5em; }
  ol em {
    display: block;
    text-align: right;
    font-style: normal;
    color: #777777; }

h1 {
  border-bottom: 1px dotted #777777;
  padding-bottom: 1em; }

h2 {
  margin-top: 2em;
  position: relative;
  border-radius: 1em;
  background-image: -webkit-linear-gradient(left, transparent 60%, rgba(119, 119, 119, 0.2));
  background-image: -moz-linear-gradient(left, transparent 60%, rgba(119, 119, 119, 0.2));
  background-image: -ms-linear-gradient(left, transparent 60%, rgba(119, 119, 119, 0.2));
  background-image: -o-linear-gradient(left, transparent 60%, rgba(119, 119, 119, 0.2));
  background-image: linear-gradient(left, transparent 60%, rgba(119, 119, 119, 0.2)); }

h3 {
  margin-top: 2em; }
  h3 em {
    float: right; }
  h3 img {
    float: right;
    clear: right;
    margin: 1em 0 1em 1em; }

li ul {
  float: right;
  clear: right;
  text-align: right;
  color: #777777; }
  li ul li {
    text-align: right; }

li p {
  width: 500px; }

hr ~ p {
  font-size: small;
  text-align: center;
  color: #777777;
  font-family: "Cantana One", serif; }

.container > ul:last-of-type {
  padding: 0;
  text-align: center; }
  .container > ul:last-of-type li {
    display: inline-block;
    margin: 0.5em; }
    .container > ul:last-of-type li a {
      font-size: 0;
      text-indent: -999px; }
    .container > ul:last-of-type li img {
      padding: 1em; }
