$text: #444;
$light-text: lighten($text, 20%);
$link: adjust-color($text, $blue: 100%);
$heading-font: "Montserrat";

@mixin transition($spec) {
  -webkit-transition: $spec;
     -moz-transition: $spec;
      -ms-transition: $spec;
       -o-transition: $spec;
          transition: $spec;
}

@mixin linear-gradient($start, $s1, $s2) {
  background-image: -webkit-linear-gradient($start, $s1, $s2);
  background-image: -moz-linear-gradient($start, $s1, $s2);
  background-image: -ms-linear-gradient($start, $s1, $s2);
  background-image: -o-linear-gradient($start, $s1, $s2);
  background-image: linear-gradient($start, $s1, $s2);
}

body {
  font-family: sans-serif;
  color: $text;
  @include transition(color 0.2s linear);
  line-height: 1.5em;
  padding-bottom: 2em;
}

em {
  font-style: normal;
}

h1, h2, h3 {
  margin-top: 2.8em;
  margin-bottom: 1em;
  font-family: $heading-font, sans-serif;
}

h2 {
  page-break-before: always;
}

p {
  &:hover {
    color: darken($text, 20%);
  }
}

.container {
  width: 800px;
  margin: auto;
}

h1 {
  text-align: center;
  color: $light-text;
  @include transition(text-shadow 0.2s linear);
  &:hover { text-shadow: 0 0 0.2em transparentize($text, .7); }
  &~p:first-of-type {
    margin-top: 0;
    font-weight: bold;
    em {
      float: right;
    }
  }
}

blockquote {
  color: $light-text;
  width: 50%;
  float: left;
  margin-top: 0;
  p { margin-top: 0; }
  vertical-align: top;
  margin-left: 0;
}

ul {
  strong { font-weight: normal; }
  em { font-style: normal; }
  li:hover {
    color: lighten($text, 10%);
  }
  list-style: none;
  strong {
    display: inline-block;
    width: 150px;
    text-align: right;
    float: left;
    margin-right: 20px;
  }
}

a {
  text-decoration: none;
  color: $link;
  &:hover, &:active {
    color: complement($link);
  }
  &:visited { color: $link; }
}

ol {
  list-style: none;
  padding: 0;

  &:first-of-type {
    padding: 0;
    list-style: disc;
    list-style-position: inside;
  }
  li {
    margin-bottom: 0.5em;
  }
  em {
    display: block;
    text-align: right;
    font-style: normal;
    color: $light-text;
  }
}

h1 {
  border-bottom: 1px dotted $light-text;
  padding-bottom: 1em;
}

h2 {
  margin-top: 2em;
  position: relative;
  border-radius: 1em;
  @include linear-gradient(left, transparent 60%, transparentize($light-text, 0.8));
}

h3 {
  margin-top: 2em;

  em {
    float: right;
  }
  img {
    float: right;
    clear: right;
    margin: 1em 0 1em 1em;
  }
}

li ul {
  float: right;
  clear: right;
  text-align: right;
  color: $light-text;
  li {
    text-align: right;
  }
}

li p {
  width: 500px;
}

hr~p {
  font-size: small;
  text-align: center;
  color: $light-text;
  font-family: "Cantana One", serif;
}

.container > ul:last-of-type {
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
    margin: 0.5em;
    a {
      font-size: 0;
      text-indent: -999px;
    }
    img {
      padding: 1em;
    }
  }
}
